/* @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap'); */
@import "tailwindcss";


@layer components {
  .bg-green-light { @apply bg-[#DEFFDE]; }
  .bg-blue-light { @apply bg-[#DEECFF]; }
  .bg-yellow-light { @apply bg-[#FFF5E5]; }

  .text-green-dark { @apply text-[#115B25]; }
  .text-blue-dark { @apply text-[#112E5B]; }
  .text-yellow-dark { @apply text-[#E3941C]; }
}

body {
  background-color: #FFFFFF;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-30% - 0.5rem));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 7s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.section-style{
  @apply justify-center items-center w-[1200px] mx-auto 
}

.header-list{
  @apply text-[16px] leading-[100%] font-normal tracking-[0%] opacity-50
}
.card-container {
  @apply w-[386px] h-[392px] flex flex-col shadow-md bg-white rounded-lg;
}

.card-badge {
  @apply w-[118px] h-[20px] rounded-md ml-2 text-center text-[16px] leading-[100%] tracking-[0%]   font-medium;
}

.card-content {
  @apply w-[326px] h-[182px] ml-2;
}

.card-title {
  @apply   font-semibold text-[24px] leading-[34px] tracking-[-0.5px] text-[#0F173E];
}

.card-text {
  @apply   font-normal text-[18px] leading-[36px] tracking-[-0.5px] text-[#64647B];
}

.card-progress-label {
  @apply   font-normal text-[14px] text-[#666666];
}

.card-read-more {
  @apply text-[16px] font-normal mr-5 mt-20;
}

.section-heading {
  @apply  font-bold text-[48px] text-[#0F173E] text-center;
}

.section-container {
  @apply flex flex-col mt-20 w-[1050px] mx-auto;
}
.section-starter{
  @apply flex justify-between items-center mt-10 mx-5
}
.page-heading{
  @apply font-bold text-[56px] leading-[76px] tracking-[-0.5px] text-[#0F173E]
}
.brand-logo{
  @apply bg-[#F4F4F4] w-[200px] h-[50px] flex items-center justify-center rounded-sm
}